:root {
    --basic-color: rgb(15, 42, 59);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.bg-c-red {
    background: #ff3333;
    color: rgb(255, 255, 255);
}

.bg-c-orange {
    background: #ff9933;
    color: #3a3a3a;
}

.bg-c-yellow {
    background: #ffff33;
    color: #3a3a3a;
}

.bg-c-green {
    background: #00ff00;
    color: #3a3a3a;
}

.bg-c-cyan {
    background: #00ffff;
    color: #3a3a3a;
}

.bg-c-blue {
    background: #00bfff;
    color: #3a3a3a;
}

.detail {
    display: flex;
    border-bottom: 1px solid #7e7e7e;
    box-shadow: 2px 2px 10px;
    white-space: nowrap;
}
.detail .btn{
    font-size: 0.85rem
}

.detail-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    background-color: var(--basic-color);
    color: #fff;
}

.detail-box {
    display: block;
    background-color: #d1d1d1;
    padding-top:8px ;
}

.detail-sum .btn{
    width: 100%;
    white-space: nowrap;
}

.detail-sum-content {
    display: flex;
    width: 100%;
    color: rgb(95, 95, 95);
    border-radius: 5px;
    vertical-align: center;
    transition: transform 0.3s;
    height: calc(2.25rem + 2px);
    margin-bottom: 8px;
}

.detail-sum-content:hover {
    color: black;
    z-index: 100;
    transform: scale(1.05);
    box-shadow: 1px 1px 15px #000;
}

.detail-sum-number {
    border: 1px solid #979797;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-weight: 600;
    flex: 1;
    display: block;
    text-align: center;
   padding-top: 2px;
    font-size: 1.2rem;
}

.detail-sum-tilte {
    font-weight: 400;
    flex: 3;
    border-bottom: 1px solid #979797;
    border-top: 1px solid #979797;
    border-right: 1px solid #979797;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(255, 154, 2);
    color: #303030;
    white-space: nowrap;
    text-align: center;
   padding-top: 6px;
   font-size: 0.85rem;
}

.detail-search{
    padding: 0px 10px;
    display: flex;
    color: #fff;
    background-color: #d1d1d1;
    padding-bottom: 10px;
}

/*CSS for placeholder*/
.input-placeholder input {
    position: relative;
}
.input-placeholder .placeholder {
    z-index: 2;
    top: 5px;
    color: #cacaca;
    position:absolute;
    top: 5px;
    left: 20px;
    pointer-events: none;
    transform-origin: 0 50%;
    transition: transform 300ms, color 200ms;
}

.input-placeholder input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-15px) translateX(3px) scale(0.75);
    background-color: #d1d1d1;
    display: block;
    width: 80px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
    color: rgb(107, 107, 107);
    padding-bottom:3px ;
    border-bottom:1px solid #0077ff ;
    z-index: 2;
}

.input-placeholder select:optional ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-15px) translateX(3px) scale(0.75);
    background-color: #d1d1d1;
    display: block;
    width: 80px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
    color: rgb(107, 107, 107);
    padding-bottom:3px ;
    border-bottom:1px solid #0077ff ;
    z-index: 2;
}
